$light: lightgrey;
$primary: lightblue;
$secondary: grey;
$success: gold;
$info: green;
@import 'node_modules/bootstrap/scss/bootstrap.scss';
h1{
    text-align: center;
    font-size: 70px;
    margin-top: 35px;
    color: $success;
    text-shadow: 1px 1px 2px $secondary, 0 0 1em $primary, 0 0 0.2em $primary;   
}

.shadow {
    box-shadow: 8px 4px 8px 4px black;
}

form{
    margin: auto;

    legend{
        font-size: 2.1em;
    }
    fieldset{
        @extend .bg-light, .shadow;
        border: 0.3em solid $secondary;
        border-radius: 1em;
        padding: 0em 1.5em 1.5em 1.5em;
    }
}

.zoneQuestion {
    @extend .shadow;
    background: $primary;
    padding: 20px 30px 50px;
    border: 2px solid $secondary;
}
.choix{
    text-align: center;
}

.error {
    @extend .font-italic;
    font-size: medium;
    color:red;
}

#afficherErreurs {
    @extend .error
}

.hide {
    display:none;
}

.show {
    display:block;
}

form {
    @extend .hide;
}

body{
    font-size: 1.3rem;
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.accordion{
    display: block;
    @extend .bg-light, .shadow;
    h3{
        @extend .bg-secondary, .shadow
    }
    div{
        @extend .bg-primary;
    }
}
.progressbar{
    @extend .hide;
    border: 0.5em solid $primary;
    background-color: $secondary;
}
#modal{
    display: none;
}
// QUIZ STUFF : DEBUT

span {
    word-wrap: break-word;
    margin: 5px;
    line-height: 140%;
}

.divBlock {
    display: block;
    padding: 1em;
}

.flex-row {
    display:flex;
}

.choix {
    background-color: aliceblue;
    border-radius: 1em 0 1em 0;
    box-shadow: mediumblue 3px 1.5px;
    margin: 0.5em 0;
    padding: 0.75em 0;
}

.good {
    background-color: greenyellow;
    box-shadow: green 3px 1.5px;
}

.bad {
    background-color: pink;
    box-shadow: red 3px 1.5px;
}

.light {
    transition: text-shadow 0.5s, box-shadow 0.5s;
}

.light:hover::before {
    box-shadow: 0 0 15px blue;
}
  
.light:hover {
    box-shadow: 2px 2px 2px 2px darkblue;
    text-shadow: 0 0 1px darkslategrey;
}

.textPointage {
    display: block;
    float: right;
    margin-top: -0.7em;
}


.datatable{
    @extend .bg-light, .shadow;
    tHead{
    background-color: $light;
}
}
// QUIZ STUFF : FIN
