$light: lightgrey;
$primary: lightblue;
$secondary: grey;
$success: gold;
$info: green;
@import 'node_modules/bootstrap/scss/bootstrap.scss';
h1{
    text-align: center;
    font-size: 70px;
    margin-top: 35px;
    color: $success;
    text-shadow: 1px 1px 2px $secondary, 0 0 1em $primary, 0 0 0.2em $primary;   
}

.shadow {
    box-shadow: 8px 4px 8px 4px black;
}

form{
    margin: auto;

    legend{
        font-size: 2.1em;
    }
    fieldset{
        @extend .bg-light, .shadow;
        border: 0.3em solid $secondary;
        border-radius: 1em;
        padding: 0em 2em 2em 2em;
    }
}

.zoneQuestion {
    @extend .shadow;
    background: $primary;
    padding: 20px 30px 50px;
    border: 2px solid $secondary;
}
.choix{
    text-align: center;
}

.error {
    @extend .font-italic;
    font-size: medium;
    color:red;
}

#afficherErreurs {
    @extend .error
}

form {
    display:none;
}

.show {
    display:block;
}

body{
    font-size: 1.3rem;
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.accordion{
    display: block;
    @extend .bg-light, .shadow;
    border: 0.3em solid $secondary;
    border-radius: 1em;
    padding: 0em 2em 2em 2em;
    h3{
        @extend .bg-secondary, .shadow
    }
    div{
        @extend .bg-primary;
    }
}
.barProgress{
    display: none;
    border: 0.5em solid $primary;
    background-color: $secondary;
}
.modal{
    display: none;
   
    
}
.sommaire{
    display: block;
}