$primary: lightgrey;
$secondary: lightblue;
$success: black;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
h1{
    text-align: center;
    font-size: 70px;
    margin-top: 35px;
    color: $success;
    text-shadow: 1px 1px 2px $secondary, 0 0 1em $primary, 0 0 0.2em $primary;   
}

form{
    margin-top: 50px;
    margin: auto;

  
    legend{
        font-size: 50px;
        color: $success;
    }
    fieldset{
        border: 5px solid $secondary;
        border-radius: 20px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 50px;
        height: 80%;
        box-shadow: 10px 5px 5px $success;
    }
  
}
.textColor{
    color: $success;
    font-size: 25px;

}
.zoneQuestion {
    background: $secondary;
    opacity: .90;
    padding: 20px 30px 50px;
    color: $success;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid $success;
}
.choix{
    text-align: center;
   
}


body{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
